Movilway.API/Service References/IBank/Proinco1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://movilway.net/schema/ibank/services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://movilway.net/schema/ibank/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://movilway.net/schema/ibank/services/Imports">
      <xsd:import schemaLocation="http://localhost:38838/Proinco.svc?xsd=xsd0" namespace="http://movilway.net/schema/ibank/services" />
      <xsd:import schemaLocation="http://localhost:38838/Proinco.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:38838/Proinco.svc?xsd=xsd2" namespace="http://movilway.net/schema/ibank" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIBankService_GetBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="IIBankService_GetBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IIBankService_ProcessTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessTransaction" />
  </wsdl:message>
  <wsdl:message name="IIBankService_ProcessTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="IIBankService">
    <wsdl:operation name="GetBalance">
      <wsdl:input wsaw:Action="http://movilway.net/schema/ibank/services/IIBankService/GetBalance" message="tns:IIBankService_GetBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://movilway.net/schema/ibank/services/IIBankService/GetBalanceResponse" message="tns:IIBankService_GetBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessTransaction">
      <wsdl:input wsaw:Action="http://movilway.net/schema/ibank/services/IIBankService/ProcessTransaction" message="tns:IIBankService_ProcessTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://movilway.net/schema/ibank/services/IIBankService/ProcessTransactionResponse" message="tns:IIBankService_ProcessTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>