Movilway.API/Service References/IBank/Proinco1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://movilway.net/schema/ibank/services" elementFormDefault="qualified" targetNamespace="http://movilway.net/schema/ibank/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:38838/Proinco.svc?xsd=xsd2" namespace="http://movilway.net/schema/ibank" />
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://movilway.net/schema/ibank" minOccurs="0" name="request" nillable="true" type="q1:GetBalanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://movilway.net/schema/ibank" minOccurs="0" name="GetBalanceResult" nillable="true" type="q2:GetBalanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://movilway.net/schema/ibank" minOccurs="0" name="request" nillable="true" type="q3:ProcessTransactionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://movilway.net/schema/ibank" minOccurs="0" name="ProcessTransactionResult" nillable="true" type="q4:ProcessTransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>