Movilway.API/Service References/SmsApi/SmsApi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.movilway.net/schema/sms" elementFormDefault="qualified" targetNamespace="http://api.movilway.net/schema/sms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetApiVersion">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetApiVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetApiVersionResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:SendSmsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SendSmsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="To" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SendSmsResult" type="tns:SendSmsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SendSmsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>