Movilway.API/Config/ManagementAgentsSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Movilway.API.Config" elementFormDefault="qualified" targetNamespace="urn:Movilway.API.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Movilway.API.Config" type="tns:Movilway.API.Config.ApiConfigurationCT" />
	<xs:complexType name="Movilway.API.Config.UserCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="role" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Role.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="agent" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Agent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Movilway.API.Config.ApiConfigurationCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="managementUsers" type="tns:Movilway.API.Config.UsersCT">
				<xs:annotation>
					<xs:documentation>The ManagementUsers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="iBankEntities" type="tns:Movilway.API.Config.IBankEntitiesCT">
				<xs:annotation>
					<xs:documentation>The IBankEntities.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Movilway.API.Config.UsersCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user" type="tns:Movilway.API.Config.UserCT">
				<xs:annotation>
					<xs:documentation>The User Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Movilway.API.Config.IBankEntityCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="agent" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Agent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The URL.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Movilway.API.Config.IBankEntitiesCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="iBankEntity" type="tns:Movilway.API.Config.IBankEntityCT">
				<xs:annotation>
					<xs:documentation>The IBankEntity Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
