Movilway.API/Service References/QueryPaymentReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://scioglobalgroup.com/webservices/" elementFormDefault="qualified" targetNamespace="http://scioglobalgroup.com/webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8002/PeruGmoney/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8002/PeruGmoney/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Movilway.IProtocolWCF.Contract.Data" />
  <xs:element name="Reload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="tns:Input" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Input">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtendedData" nillable="true" type="tns:Input.ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Input" nillable="true" type="tns:Input" />
  <xs:complexType name="Input.ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Input.ArrayOfString" nillable="true" type="tns:Input.ArrayOfString" />
  <xs:element name="ReloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReloadResult" nillable="true" type="tns:Output" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Output">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Output" nillable="true" type="tns:Output" />
  <xs:element name="Revert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="tns:Input" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RevertResult" nillable="true" type="tns:Output" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVersionResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="tns:Input" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Movilway.IProtocolWCF.Contract.Data" minOccurs="0" name="QueryResult" nillable="true" type="q2:OutputQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>