Movilway.API/Service References/QueryPaymentReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Movilway.IProtocolWCF.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Movilway.IProtocolWCF.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OutputQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDescriptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IdAutorization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryResultType" type="tns:QueryType" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutputQuery" nillable="true" type="tns:OutputQuery" />
  <xs:simpleType name="QueryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Single" />
      <xs:enumeration value="Multiple" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueryType" nillable="true" type="tns:QueryType" />
</xs:schema>