Movilway.API/Web References/KinacuManagementWebService/ManagementInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://scio-sa.com/webservices/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://scio-sa.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://scio-sa.com/webservices/">
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserInfoResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SessionTimeOut" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRetailerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRetailerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRetailerInfoResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="RetailerId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RetailerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RetailerAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RetailerLegalId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VoucherQuantityDownload" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TicketHeader" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrentTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetParametersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AccessType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginWithTerminal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AccessType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TerminalId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginWithTerminalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginWithTerminalResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginForChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AccessType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TerminalId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginForChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginForChangePasswordResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOffResponse">
        <s:complexType />
      </s:element>
      <s:element name="ChangeUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeUserPasswordResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeUserPasswordByAccessId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AccessType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeUserPasswordByAccessIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeUserPasswordByAccessIdResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrivileges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrivilegesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPrivilegesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Privileges" type="tns:ArrayOfPrivilegeInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPrivilegeInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PrivilegeInfo" nillable="true" type="tns:PrivilegeInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrivilegeInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRetailerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetRetailerInfo" />
  </wsdl:message>
  <wsdl:message name="GetRetailerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetRetailerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetParametersSoapIn">
    <wsdl:part name="parameters" element="tns:GetParameters" />
  </wsdl:message>
  <wsdl:message name="GetParametersSoapOut">
    <wsdl:part name="parameters" element="tns:GetParametersResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginWithTerminalSoapIn">
    <wsdl:part name="parameters" element="tns:LoginWithTerminal" />
  </wsdl:message>
  <wsdl:message name="LoginWithTerminalSoapOut">
    <wsdl:part name="parameters" element="tns:LoginWithTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="LoginForChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:LoginForChangePassword" />
  </wsdl:message>
  <wsdl:message name="LoginForChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:LoginForChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="LogOffSoapIn">
    <wsdl:part name="parameters" element="tns:LogOff" />
  </wsdl:message>
  <wsdl:message name="LogOffSoapOut">
    <wsdl:part name="parameters" element="tns:LogOffResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeUserPassword" />
  </wsdl:message>
  <wsdl:message name="ChangeUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeUserPasswordByAccessIdSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordByAccessId" />
  </wsdl:message>
  <wsdl:message name="ChangeUserPasswordByAccessIdSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordByAccessIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrivilegesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrivileges" />
  </wsdl:message>
  <wsdl:message name="GetPrivilegesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrivilegesResponse" />
  </wsdl:message>
  <wsdl:portType name="ManagementInterfaceSoap">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRetailerInfo">
      <wsdl:input message="tns:GetRetailerInfoSoapIn" />
      <wsdl:output message="tns:GetRetailerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetParameters">
      <wsdl:input message="tns:GetParametersSoapIn" />
      <wsdl:output message="tns:GetParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginWithTerminal">
      <wsdl:input message="tns:LoginWithTerminalSoapIn" />
      <wsdl:output message="tns:LoginWithTerminalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginForChangePassword">
      <wsdl:input message="tns:LoginForChangePasswordSoapIn" />
      <wsdl:output message="tns:LoginForChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <wsdl:input message="tns:LogOffSoapIn" />
      <wsdl:output message="tns:LogOffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:input message="tns:ChangeUserPasswordSoapIn" />
      <wsdl:output message="tns:ChangeUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPasswordByAccessId">
      <wsdl:input message="tns:ChangeUserPasswordByAccessIdSoapIn" />
      <wsdl:output message="tns:ChangeUserPasswordByAccessIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivileges">
      <wsdl:input message="tns:GetPrivilegesSoapIn" />
      <wsdl:output message="tns:GetPrivilegesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagementInterfaceSoap" type="tns:ManagementInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://scio-sa.com/webservices/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRetailerInfo">
      <soap:operation soapAction="http://scio-sa.com/webservices/GetRetailerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParameters">
      <soap:operation soapAction="http://scio-sa.com/webservices/GetParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://scio-sa.com/webservices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithTerminal">
      <soap:operation soapAction="http://scio-sa.com/webservices/LoginWithTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginForChangePassword">
      <soap:operation soapAction="http://scio-sa.com/webservices/LoginForChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap:operation soapAction="http://scio-sa.com/webservices/LogOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <soap:operation soapAction="http://scio-sa.com/webservices/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPasswordByAccessId">
      <soap:operation soapAction="http://scio-sa.com/webservices/ChangeUserPasswordByAccessId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivileges">
      <soap:operation soapAction="http://scio-sa.com/webservices/GetPrivileges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagementInterface">
    <wsdl:port name="ManagementInterfaceSoap" binding="tns:ManagementInterfaceSoap">
      <soap:address location="http://ws-do-dev.movilway.net:5974/Sales/ManagementInterface.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>